.Trash/
.bash_history
.bundle/
.cache/
.cargo/
.config/BraveSoftware/
.config/Code/
.config/autostart/
.config/chromium/
.config/dconf/
.config/evolution/
.config/gh/state.yml
.config/gnome-initial-setup-done
.config/google-chrome*/
.config/gsconnect/
.config/gtk-3.0/
.config/ibus/
.config/ide.yaml
.config/pulse/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vscode-sqltools/
.dbus/
.docker/.buildNodeID
.dotnet/
.dropbox-dist/
.dropbox/
.esd_auth
.gnome/apps/chrome-*.desktop
.gnupg/
.irb_history
.joplin/
.lesshst
.local/
.mozilla/
.node_repl_history
.npm/
.pki/
.rustup/
.sqlite_history
.ssh/id_?sa*
.ssh/known_hosts
.sudo_as_admin_successful
.terraform.d/
.var/
.vim/.netrwhist
.vim/backup/
.vim/info
.vim/plugged/
.vim/swap/
.vim/tags/
.vscode/
.wget-hsts
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Syncthing/
gist.github.com/
github.com/
snap/
.pylint.d/
.pscale/
.CFUserTextEncoding
.DS_Store
.bash_sessions/
