Applications/
.bash_history
.bashrc.d/.*.cached
.bash_sessions/
.bundle/
.cache/
.cargo/
.CFUserTextEncoding
.config/autostart/
.config/BraveSoftware/
.config/chromium/
.config/cni
.config/Code/
.config/configstore/
.config/configstore/nodemon.json
.config/configstore/update-notifier-npm.json
.config/dconf/
.config/enchant/
.config/eog/
.config/evolution/
.config/exercism/user.json
.config/flipperdevices.com
.config/gatsby/
.config/gedit/
.config/gh/state.yml
.config/gnome-initial-setup-done
.config/google-chrome*/
.config/gsconnect/
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0/
.config/ibus/
.config/ide.yaml
.config/iterm2
.config/libreoffice/
.config/monitors.xml
.config/pulse/
.config/syncthing/
.config/systemd/
.config/totem/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vscode-sqltools/
.dbus/
.deno/
Desktop/
.docker/
.docker/.buildNodeID
Documents/
.dotnet/
Downloads/
.dropbox/
Dropbox/
.dropbox-dist/
.DS_Store
.dvm/
.ecr/
.esd_auth
.fnm/
.gem/
gist.github.com/
github.com/
.gnome/apps/chrome-*.desktop
.gnupg/
go/
.gradle/
.ipython/
.irb_history
.iterm2_shell_integration.bash
.joplin/
.lemminx/
.lesshst
Library/
.local/
.m2/
Movies/
.mozilla/
Music/
.node_repl_history
.npm/
.nvidia-settings-rc
Pictures/
.pki/
.poetry/
.poreidcache/
.pscale/
.psql_history
.pteid-ng/
Public/
__pycache__/
.pyenv/
.pylint.d/
.python_history
.rbenv/
.redhat/
.rustup/
snap/
.solargraph/
.solc-select/
.sqlite_history
.ssh/id_?sa*
.ssh/known_hosts
.steam/
.steampath
.steampid
.sudo_as_admin_successful
Syncthing/
.terraform.d/
.Trash/
.ts_node_repl_history
.var/
.vim/backup/
.vim/info
.vim/.netrwhist
.vim/plugged/
.vim/swap/
.vim/tags/
.vscode/
.vscode-server/
.wget-hsts
.wrangler/version.toml
.yarnrc
.zoom/
