[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:pkoch/secrets.git
[submodule ".password-store"]
	path = .password-store
	url = git@github.com:pkoch/password-store.git
