[user]
	name = Paulo Köch
	email = paulo.koch@gmail.com

[includeIf "gitdir:~/github.com/lifeonmarspt/"]
	path = .gitconfig-lom

[includeIf "gitdir:~/github.com/trustfractal/"]
	path = .gitconfig-fractal

[core]
	editor = vim
	whitespace = trailing-space,space-before-tab,tab-in-indent

[alias]
	glb = log --graph --decorate --pretty=oneline --abbrev-commit
	gl  = log --graph --decorate --pretty=oneline --abbrev-commit --all
	gla = log --graph --decorate --pretty=oneline --abbrev-commit --all --reflog
	b = branch
	d = diff
	dc = diff --cached
	s = status -sb
	st = status -s
	ci = commit
	cian = commit --amend --no-edit
	co = checkout
	ff = merge --ff-only
	mnff = merge --no-ff
	mff = merge --ff-only
	mnffn = merge --no-ff --no-edit
	pr = pull --rebase
	pra = pull --rebase --autostash
	pff = pull --ff-only
	pffa = pull --ff-only --autostash
	pfl = push --force-with-lease
	fap = fetch --all --tags --prune
	fp = fetch --prune
	lsf = ls-files --exclude-standard -o -c

[color]
	ui = auto

[color "branch"]
	current = green reverse
	local = green
	remote = red

[push]
	default = current

[merge]
	conflictStyle = diff3
	stat = False

[rebase]
	autosquash = true

[grep]
	linenumber = true

[branch]
	autosetuprebase = always

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = false

[init]
	defaultBranch = master

[blame]
	ignoreRevsFile = .git-blame-ignore-revs

[submodule]
	recurse = true
[rerere]
	enabled = true
