!.gnupg/gpg-agent.conf##template
!.gnupg/gpg.conf
!.gnupg/ownertrust
!.gnupg/pubring.asc.d/
!.gnupg/reset_tty.sh
!.gnupg/sshcontrol
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.bash_sessions/
.bashrc.d/.*.cached
.bundle/
.cache/
.cargo/
.config/.gsd-keyboard.settings-ported
.config/BraveSoftware/
.config/Code/
.config/VirtualBox/
.config/autostart/
.config/chromium/
.config/cni
.config/configstore/
.config/configstore/nodemon.json
.config/configstore/update-notifier-npm.json
.config/dconf/
.config/enchant/
.config/eog/
.config/evolution/
.config/exercism/user.json
.config/flipperdevices.com
.config/gatsby/
.config/gedit/
.config/gh/state.yml
.config/gnome-initial-setup-done
.config/google-chrome*/
.config/gsconnect/
.config/gtk-3.0/
.config/ibus/
.config/ide.yaml
.config/iterm2
.config/libreoffice/
.config/mimeapps.list
.config/monitors.xml
.config/op/config
.config/pulse/
.config/syncthing/
.config/systemd/
.config/totem/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vscode-sqltools/
.cups/
.dbus/
.deno/
.docker/
.docker/.buildNodeID
.dotnet/
.dropbox-dist/
.dropbox/
.dvm/
.ecr/
.esd_auth
.fnm/
.gem/
.gnome/apps/chrome-*.desktop
.gnupg/*
.gradle/
.ipython/
.irb_history
.iterm2_shell_integration.bash
.joplin/
.lemminx/
.lesshst
.local/
.m2/
.mozilla/
.node_repl_history
.npm/
.nvidia-settings-rc
.pki/
.poetry/
.poreidcache/
.postgresql/root.crt
.pscale/
.psql_history
.pteid-ng/
.pulumi/
.pyenv/
.pylint.d/
.python_history
.rbenv/
.redhat/
.rustup/
.solargraph/
.solc-select/
.sqlite_history
.ssh/id_?sa*
.ssh/known_hosts
.ssh/known_hosts.old
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.terraform.d/
.ts_node_repl_history
.vagrant.d/
.var/
.vim/.netrwhist
.vim/backup/
.vim/info
.vim/plugged/
.vim/swap/
.vim/tags/
.vscode-server/
.vscode/
.wget-hsts
.wrangler/version.toml
.yarnrc
.zoom/
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox
Library/
Movies/
Music/
Pictures/
Public/
Syncthing/
VirtualBox VMs/
__pycache__/
gist.github.com/
github.com/
go/
snap/
